# Load Datasets

In [6]:
import numpy as np
import pandas as pd

In [7]:
trainDatasetFile='../../../data/REALoc/S1_dataset/5939pdataset/idLocation.txt'

In [8]:
testDatasetFile='../../../data/REALoc/S1_dataset/920pdataset/test_idLocation_code.txt'

In [9]:
testDataset=pd.read_csv(testDatasetFile,sep='|',header=None)

In [10]:
trainDataset=pd.read_csv(trainDatasetFile,sep='|',header=None)

In [11]:
testDataset.head()

        0       1
0  P00505    1 4
1  Q9NP58  1 3 4
2  Q96HD9    1 2
3  O43687      1
4  Q8N7J2      1

In [12]:
trainDataset.head()

        0               1
0  O95866  Cell_membrane
1  Q70Z44  Cell_membrane
2  Q5I7T1  Cell_membrane
3  O14514  Cell_membrane
4  Q9H159  Cell_membrane

# pre process lables

In [13]:
trainLables=trainDataset[[1]]
multiplexProteinsIndicesTrain=[]
trainLablesOneHot=np.zeros(shape=(trainLables.shape[0],6))

lableDict={'Cell_membrane':0,'Cytoplasm':1,'ER_Golgi':2,'Mitochondrion':3,'Nucleus':4,'Secreted':5}

for i,row in trainLables.iterrows():
    lables=row.str.split(' ')
    lables=list(lables)
    lables=lables[0]
    lables=lables[:-1]
    if len(lables)> 1:
        multiplexProteinsIndicesTrain.append(i)
    for lable in lables:
        trainLablesOneHot[i,lableDict[lable]]=1

In [14]:
trainLablesOneHot.shape

(5939, 6)

# test lables

In [15]:
testLables=testDataset[[1]]
multiplexProteinsIndices=[]
testLablesOneHot=np.zeros(shape=(testLables.shape[0],6))


for i,row in testLables.iterrows():
    lables=row.str.split(' ')
    lables=list(lables)
    lables=lables[0]
    lables=lables[:-1]
    if len(lables)> 1:
        multiplexProteinsIndices.append(i)
    for lable in lables:
        testLablesOneHot[i,int(lable)-1]=1

In [16]:
testLablesOneHot.shape

(920, 6)

# map uniprot to String

* STring IDs are required for embedding generation

In [17]:
import sys
sys.path.append('../../../utils/')

In [18]:
from  utils import UniprotID_to_StringId

/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

### Convert Train IDs

In [19]:
dfTrain=trainDataset[[0]]

dfTrain.columns=['uniprot_ac']
dfTrain=UniprotID_to_StringId(dfTrain)

Not Matched:  140

/home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/numpy/core/fromnumeric.py:61: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)

In [20]:
dfTrain.head()

  uniprot_ac uniprot_ac_uniprot_id             string_id
0     O95866      O95866|G6B_HUMAN  9606.ENSP00000364964
1     Q70Z44    Q70Z44|5HT3D_HUMAN  9606.ENSP00000371929
2     Q5I7T1    Q5I7T1|AG10B_HUMAN  9606.ENSP00000310120
3     O14514    O14514|AGRB1_HUMAN  9606.ENSP00000430945
4     Q9H159    Q9H159|CAD19_HUMAN  9606.ENSP00000262150

### Convert Test IDs

In [21]:
dfTest=testDataset[[0]]

dfTest.columns=['uniprot_ac']

dfTest=UniprotID_to_StringId(dfTest)

Not Matched:  18

In [22]:
dfTest.shape

(920, 3)

# Load TripletProt Network and generate embeddings

In [23]:
from  utils import generate_tripletProt_embeddings

### Generate Train Embeddings

In [24]:
dfTrain.head()

  uniprot_ac uniprot_ac_uniprot_id             string_id
0     O95866      O95866|G6B_HUMAN  9606.ENSP00000364964
1     Q70Z44    Q70Z44|5HT3D_HUMAN  9606.ENSP00000371929
2     Q5I7T1    Q5I7T1|AG10B_HUMAN  9606.ENSP00000310120
3     O14514    O14514|AGRB1_HUMAN  9606.ENSP00000430945
4     Q9H159    Q9H159|CAD19_HUMAN  9606.ENSP00000262150

In [25]:
trainProtein_weights=generate_tripletProt_embeddings(dfTrain)

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

number of found:  5799

#### Generate Test Embeddings

In [26]:
testProtein_weights=generate_tripletProt_embeddings(dfTest)

number of found:  902

In [27]:
testProtein_weights.shape

(920, 64)

#### Prepare Input Data

In [28]:
X_test=np.array(testProtein_weights)
X_train=np.array(trainProtein_weights)
y_train=trainLablesOneHot
y_test=testLablesOneHot

#### Evaluation Metric

In [29]:
def  computeAbsoluteAccuracyPerLable(Ytrue,Ypred):
    countSingle=0
    countSingleCorrect=0
    countMultiple=0
    countMultipleCorrect=0
    YpredOneHot=np.zeros(shape=(Ypred.shape))
    results=[]
    rows=Ytrue.shape[0]
    for i in range(rows):
        numLables=len(np.nonzero (Ytrue[i])[0])
        ind = np.argpartition(Ypred[i], -numLables)[-numLables:]
        YpredOneHot[i][ind]=1
        if numLables>1:
            countMultiple+=1
            if not any (np.logical_xor (YpredOneHot[i],Ytrue[i])):
                
                countMultipleCorrect+=1
        else:
            countSingle+=1
            if  not any (np.logical_xor (YpredOneHot[i],Ytrue[i])):
                countSingleCorrect+=1
            
    for i in range(6):
        corrects=len(np.nonzero(np.logical_and(Ytrue[:,i], YpredOneHot[:,i]))[0])
        numAllTrues=len(np.nonzero (Ytrue[:,i])[0])
        #this class has no sample
        if  numAllTrues==0:
                continue
        results.append(corrects/numAllTrues)
    #print('countSingleCorrect',countSingleCorrect)
    #print('countSingle',countSingle)
    return results,(countSingleCorrect/countSingle) ,(countMultipleCorrect/countMultiple)

### Train and Evaluate the model

In [30]:
from sklearn.model_selection import StratifiedKFold

from  model import feedForward_classifier

import keras

In [31]:
random_seed=1311
embedding_size=64

In [32]:
def train_and_evaluate_model(W_train,Y_train,epochs,repeatKfold):
    prec_list=[]
    random_seed=1311
    for i in range(repeatKfold):
        random_seed=random_seed*i
        skf = StratifiedKFold(n_splits=5, random_state=random_seed,shuffle=True)
        AccuracyMultiple=0
        AccuracySingle=0
        all_histories=[]
        Y = [np.argmax(y, axis=None, out=None) for y in Y_train]
        for train_index, test_index in skf.split(W_train,Y):                 
            X_train, X_test = W_train[train_index], W_train[test_index] 
            y_train, y_test = Y_train[train_index], Y_train[test_index]
            model = None # Clearing the NN.
            model = feedForward_classifier(len(lableDict),embedding_size)
            history=model.fit(X_train, y_train, validation_data=(X_test,y_test) ,epochs=epochs, batch_size=8,verbose=0)
            all_histories.append(history)
            YtestPredicted=model.predict(X_test)
            avePrec,AS,AM=computeAbsoluteAccuracyPerLable(y_test, YtestPredicted)
            AccuracySingle+=AS
            AccuracyMultiple+=AM
            prec_list.append(avePrec)
    return prec_list,(AccuracySingle/5),(AccuracyMultiple/5)

In [33]:
results,AccuracySingle,AccuracyMultiple=train_and_evaluate_model(X_train,y_train,epochs=20,repeatKfold=5)

WARNING:tensorflow:From /home/ubuntuadmin/anaconda37/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [34]:
results=np.array(results)

In [35]:
lableDict

{'Cell_membrane': 0,
 'Cytoplasm': 1,
 'ER_Golgi': 2,
 'Mitochondrion': 3,
 'Nucleus': 4,
 'Secreted': 5}

In [36]:
results.shape

(25, 6)

In [37]:
np.mean (results,axis=0)

array([0.78774073, 0.74444182, 0.66294835, 0.76680593, 0.8808793 ,
       0.74029483])

In [38]:

print('Average : ',np.mean (results))

Average :  0.7638518260803066

# Indipndnt Test Dataset

In [39]:
model = None # Clearing the NN.

model=feedForward_classifier(len(lableDict),embedding_size)

In [40]:
history=model.fit(X_train, y_train,epochs=20, batch_size=8,verbose=0)

In [41]:
YtestPredicted=model.predict(X_test)

results,AccuracySingle,AccuracyMultiple=computeAbsoluteAccuracyPerLable(y_test, YtestPredicted)

In [42]:
results

[0.813953488372093,
 0.8108108108108109,
 0.6177777777777778,
 0.5404040404040404,
 0.7213622291021672,
 0.5178571428571429]

In [43]:
print('Average : ',np.mean (results))

Average :  0.6703609148873387